* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 0.9rem;
    font-family: monospace;
}

body {
    background-color: #fff;
}

#main {
    margin: 8 auto;
    padding: 5% auto;
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    text-align: center;
}

#copyright-etc {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 9px;
}

#copyright-etc i {
    font-size: 9px;
}

#social-media {
    display: flex;
    position: fixed;
    bottom: 5.8%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    text-align: right;
}

#social-media ul li {
    list-style: none;
    font-size: 2rem;
    margin-left: 0.9%;
    cursor: pointer;
}

#social-media ul li a i {
    font-size: 2rem;
}

#social-media-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#left {
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large-greeter {
    font-size: 4rem;
    text-align: center;
}

#greeting {
    width: 100%;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 4%;
    padding: 0% 0% 0% 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 2.5rem;
    justify-content: center;
    align-items: left;
}

#description {
    width: 100%;
    height: 100%;
    padding: 0% 5% 1% 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.75rem;
    justify-content: center;
    align-items: left;
}

#click-download {
    width: 100%;
    height: 100%;
    padding: 0% 5% 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#click-download a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}


#click-download a button {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: fit-content;
    min-height: fit-content;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(170, 57, 57);
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

#click-download a button:hover {
    background-color: #000;
    color: white;
}

.topic {
    background-color: lavender;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0% 1% 0% 1%;
    border-radius: 5px;
}

.topic a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.domain  a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: green;
    font-weight: bold;
    margin: 0.5%;
    padding: 0% 0.5% 0% 0.5%;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    #main {
        flex-direction: column;
        height: 100%;
    }

    #left {
        width: 100%;
        height: 80vh;
    }

    #greeting {
        text-align: center;
    }

    #description {
        text-align: center;
        padding: 0% 10% 1% 10%;
    }
    
    #description p {
        text-align: center;
    }

    .large-greeter {
        font-size: 100%;
    }

    #click-download a button {
        height: 100%;
    }

    #social-media {
        margin: 0;
    }

    #social-media-items li{
        margin-left: 2%;
        margin-right: 2%;
    }

    img {
        width: 5%;
        height: 70%;
        padding-top: 1%;
        margin: 0 auto;
    }
}